<div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexFil fxFill class="components-container-gt-xs ">

  <div fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFil fxFill fxLayoutGap="20px">

    <div fxFlex="100" fxLayout="column" class="mat-elevation-z2 contact-list-container">

      <!-- Loader de la Tabla -->
      <div class="loader" *ngIf="showData2 == true">
        Cargando... <br><br>
        <mat-spinner></mat-spinner>
      </div>

      <div fxFlex="10" fxLayoutAlign="start center" fxLayout="row" id="content" #content>
        <h3 class="mat-headline">Consulta de Evaluaciones Practicas </h3>
        <!-- <h3 class="mat-headline"> | </h3> -->
        <!-- <h6 class="mat-title"> Pagos</h6> -->
      </div>

      <mat-divider></mat-divider>

      <div fxFlex="10" fxLayout="row" fxLayoutAlign="space-between stretch">
        <div fxflex="50" class="full">
          <mat-form-field class="full">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Alumno">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="70" fxLayout="column" fxLayoutAlign="space-between stretch" class="contact-list-container">
        <div class="example-container mat-elevation-z8">

          <mat-table [dataSource]="dataSource" matSort>
            <!-- ID Column -->
            <ng-container matColumnDef="idAlumno">
              <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClass'">
                <h3>ID</h3>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" [ngClass]="'customWidthClass'"> {{row.idAlumno}} </mat-cell>
            </ng-container>

            <!-- Codigo Column -->
            <ng-container matColumnDef="codAlumno">
              <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClass5'">
                <h3>Codigo Alumno</h3>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" [ngClass]="'customWidthClass5'"> {{row.codAlumno}} </mat-cell>
            </ng-container>

            <!-- Nombres Column -->
            <ng-container matColumnDef="nombres">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                <h3>Nombres Alumno</h3>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.nombres}}</mat-cell>
            </ng-container>

            <!-- Apellidos Column -->
            <ng-container matColumnDef="apellidos">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                <h3>Apellidos Alumno</h3>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.apellidos}} </mat-cell>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClass4'">
                <h3>Email</h3>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" [ngClass]="'customWidthClass4'"> {{row.email}} </mat-cell>
            </ng-container>

            <!-- Celular Column -->
            <ng-container matColumnDef="celular">
              <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClass3'">
                <h3>Celular</h3>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" [ngClass]="'customWidthClass3'"> {{row.celular}} </mat-cell>
            </ng-container>

            <!-- EvaluacionCocinaPractica Column -->
            <ng-container matColumnDef="EvaluacionCocinaPractica">
              <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClass3'"
                matTooltip="Evaluacion Cocina Practica">
                <h3>ECPA</h3>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" [ngClass]="'customWidthClass3'">
                {{row.EvaluacionCocinaPractica | number: '1.0-2' }}
                <button mat-icon-button matTooltip="Ver detalle de Evaluacion Practica" (click)="openDialogPrint1(row.idAlumno, row.nombres, row.apellidos, row.codAlumno, row.email, row.celular, row.telefono,
                  row.EvaluacionCocinaPracticaIn, row.EvaluacionCortePrecision)">
                  <mat-icon>assignment</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <!-- EvaluacionCortePrecision Column -->
            <ng-container matColumnDef="EvaluacionCortePrecision">
              <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClass5'"
                matTooltip="Evaluacion Corte Presicion">
                <h3>ECPE</h3>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" [ngClass]="'customWidthClass5'"> {{row.EvaluacionCortePrecision}}
                <button mat-icon-button matTooltip="Ver detalle de Evaluacion Corte Precision"
                  (click)="openDialogPrint2(row.idAlumno, row.nombres, row.apellidos, row.codAlumno, row.email, row.celular, row.telefono,
                  row.EvaluacionCocinaPracticaIn, row.EvaluacionCortePrecision, row.EvaluacionPlato, row.EvaluacionQueso)">
                  <mat-icon>assignment</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <!-- EvaluacionQuesos Column -->
            <ng-container matColumnDef="EvaluacionPlato">
              <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClass5'"
                matTooltip="Evaluacion Cocina Plato">
                <h3>ECPL</h3>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" [ngClass]="'customWidthClass5'"> {{row.EvaluacionPlato}}
                <button mat-icon-button matTooltip="Ver detalle de Evaluacion Plato"
                  (click)="openDialogPrint3(row.idAlumno, row.nombres, row.apellidos, row.codAlumno, row.email, row.celular, row.telefono,
                  row.EvaluacionCocinaPracticaIn, row.EvaluacionCortePrecision, row.EvaluacionPlato, row.EvaluacionQueso)">
                  <mat-icon>assignment</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <!-- Evaluacion Column -->
            <ng-container matColumnDef="EvaluacionQueso">
              <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClass5'"
                matTooltip="Evaluacion Queso">
                <h3>ECQE</h3>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" [ngClass]="'customWidthClass5'"> {{row.EvaluacionQueso}}
                <button mat-icon-button matTooltip="Ver detalle de Evaluacion Queso"
                  (click)="openDialogPrint4(row.idAlumno, row.nombres, row.apellidos, row.codAlumno, row.email, row.celular, row.telefono,
                  row.EvaluacionCocinaPracticaIn, row.EvaluacionCortePrecision, row.EvaluacionPlato, row.EvaluacionQueso)">
                  <mat-icon>assignment</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <!-- Accion Column -->
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClass5'">
                <h3 align="center">Accion</h3>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" [ngClass]="'customWidthClass5'">
                <!-- Boton de ver todas la Evaluaciones -->
                <!-- <button mat-icon-button matTooltip="Ver todas las Evaluaciones Practicas del Alumno" (click)="openDialog(row.idAlumno, row.nombres, row.apellidos, row.codAlumno, row.email, row.celular,
                  row.EvaluacionCocinaPracticaIn, row.EvaluacionCortePrecision)">
                  <mat-icon>search</mat-icon>
                </button> -->
                <!-- Botond de Aprobar Todas las Evaluaciones -->
                <button
                  *ngIf="row.EvaluacionCocinaPractica != 0 && row.EvaluacionCortePrecision != 0 && row.EvaluacionPlato != 0 && row.EvaluacionQueso !=  0 "
                  mat-icon-button matTooltip="Aprobar todas las Evaluaciones" (click)="openDialog(row.idAlumno, row.nombres, row.apellidos, row.codAlumno, row.email, row.celular,
                row.EvaluacionCocinaPractica, row.EvaluacionCortePrecision, row.EvaluacionPlato, row.EvaluacionQueso,
                row.codEvalCocinaPractica, row.idEvaluacionCocinaPractica,
                row.codEvaluacionCortePrecision, row.idEvaluacionCortePrecision,
                row.codEvaluacionPlato, row.idEvaluacionPlato,
                row.codEvaluacionQueso, row.idEvaluacionQueso)">
                  <i class="material-icons">done_outline</i>
                </button>
                <!-- Boton de de Anular Todas las Evaluaciones -->
                <button
                  *ngIf="row.EvaluacionCocinaPractica != 0 && row.EvaluacionCortePrecision != 0 && row.EvaluacionPlato != 0 && row.EvaluacionQueso !=  0 "
                  mat-icon-button matTooltip="Anular todas las Evaluaciones" (click)="openDialog5(row.idAlumno, row.nombres, row.apellidos, row.codAlumno, row.email, row.celular,
                row.EvaluacionCocinaPractica, row.EvaluacionCortePrecision, row.EvaluacionPlato, row.EvaluacionQueso,
                row.codEvalCocinaPractica, row.idEvaluacionCocinaPractica, 
                row.codEvaluacionCortePrecision, row.idEvaluacionCortePrecision,
                row.codEvaluacionPlato, row.idEvaluacionPlato,
                row.codEvaluacionQueso, row.idEvaluacionQueso)">
                  <i class="material-icons">delete_forever</i>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>

        <mat-divider></mat-divider>
      </div>
    </div>