<div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexFil fxFill class="components-container-gt-xs ">

  <div fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFil fxFill fxLayoutGap="20px">

    <div fxFlex="100" fxLayout="column" class="mat-elevation-z2 contact-list-container">

      <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
          {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
        </button>  -->
      <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Datos Generales del Alumno</ng-template>
            Datos Generales del Alumno
            <br><br>
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput #postalCode maxlength="20" placeholder="Codigo Alumno" [formControl]="codigoAlumno"
                      [errorStateMatcher]="matcher" autofocus name="codAlumno" id="codAlumno" ngControl="codAlumno"
                      [(ngModel)]="_alumnoModel.codAlumno">
                    <!-- <mat-hint align="end">{{postalCode.value.length}} / 20</mat-hint> -->
                    <mat-error *ngIf="codigoAlumno.hasError('required')">
                      Codigo es: <strong>obligatorio</strong>
                    </mat-error>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Primer Nombre" [formControl]="nombre1" [errorStateMatcher]="matcher"
                      name="nombre1" id="nombre1" ngControl="nombre1" [(ngModel)]="_alumnoModel.nombre1">
                    <mat-error *ngIf="nombre1.hasError('required')">
                      Primer Nombre es: <strong>obligatorio</strong>
                    </mat-error>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Segundo Nombre" [formControl]="nombre2" name="nombre2" id="nombre2"
                      ngControl="nombre2" [(ngModel)]="_alumnoModel.nombre2">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Primer Apellido" [formControl]="apellido1" [errorStateMatcher]="matcher"
                      name="apellido1" id="apellido1" ngControl="apellido1" [(ngModel)]="_alumnoModel.apellido1">
                    <mat-error *ngIf="apellido1.hasError('required')">
                      Primer Apellido es: <strong>obligatorio</strong>
                    </mat-error>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Segundo Apellido" [formControl]="apellido2" name="apellido2" id="apellido2"
                      ngControl="apellido2" [(ngModel)]="_alumnoModel.apellido2">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                      name="email" id="email" ngControl="email" [(ngModel)]="_alumnoModel.email">
                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      Por favor ingresa el Correo Electronico
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      Email es: <strong>obligatorio</strong>
                    </mat-error>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input type="number" maxlength="8" matInput placeholder="Telefono" [formControl]="telAlumno"
                      [errorStateMatcher]="matcher" name="telAlumno" id="telAlumno" ngControl="telefono" [(ngModel)]="_alumnoModel.telefono">
                    <mat-error *ngIf="telAlumno.hasError('required')">
                      No. Telefono es: <strong>obligatorio</strong>
                    </mat-error>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input type="number" maxlength="8" matInput placeholder="Celular" [formControl]="celularAlumno"
                      [errorStateMatcher]="matcher" name="celular" id="celular" ngControl="celular" [(ngModel)]="_alumnoModel.celular">
                    <mat-error *ngIf="celularAlumno.hasError('required')">
                      No. Celular es: <strong>obligatorio</strong>
                    </mat-error>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Sexo" [formControl]="idGeneroAlumno" [errorStateMatcher]="matcher" name="idGenero"
                      id="idGenero" ngControl="idGenero" [(ngModel)]="_alumnoModel.idGenero">
                      <mat-option *ngFor="let genero of JsonOutgetlistaGeneroAll" [value]="genero.idGenero">
                        {{ genero.descripcionGenero }}
                      </mat-option>
                    </mat-select>
                    <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                  </mat-form-field>
                </td>
              </tr>

              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput #message maxlength="250" [formControl]="direccionAlumno" placeholder="Direccion de Alumno"
                      name="direccion" id="direccion" ngControl="direccion" [(ngModel)]="_alumnoModel.direccion">
                    <!-- <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint> -->
                    <mat-hint align="end">{{message.value.length}} / 250</mat-hint>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="picker" [formControl]="fechaNacimiento" placeholder="Fecha de Nacimiento"
                      name="fechaNacimiento" id="fechaNacimiento" ngControl="fechaNacimiento" [(ngModel)]="_alumnoModel.fechaNacimiento">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Profesion Alumno" [formControl]="profesionAlumno" [errorStateMatcher]="matcher"
                      name="idProfesion" id="idProfesion" ngControl="idProfesion" [(ngModel)]="_alumnoModel.idProfesion">
                      <mat-option *ngFor="let profesion of JsonOutgetlistaProfesionesAlumno" [value]="profesion.idProfesion">
                        {{ profesion.descripcionProfesion }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="profesionAlumno.hasError('required')">
                      La Profesion es: <strong>obligatoria</strong>
                    </mat-error>
                    <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                  </mat-form-field>
                </td>
                <td>
                  <mat-checkbox name="hondureno" id="hondureno" [formControl]="hondureno" ngControl="hondureno"
                    [(ngModel)]="_alumnoModel.hondureno">
                    Hondureño?</mat-checkbox>
                </td>
              </tr>
            </table>

            <table>
              <tr>
                <td>
                  <button mat-raised-button matStepperNext color="primary">Seguiente</button>
                </td>
              </tr>
            </table>

          </form>
        </mat-step>
        <!-- Datos de los Padres -->
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Datos de Padre / Madre</ng-template>
            Datos de Parientes.
            <br><br>
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombres de Padre" name="nombrePadre" id="nombrePadre" [formControl]="nombrePadre"
                      ngControl="nombrePadre" [(ngModel)]="_alumnoModel.nombrePadre">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Profesion Padre" name="idProfesionPadre" id="idProfesionPadre"
                      [formControl]="idProfesionPadre" ngControl="idProfesionPadre" [(ngModel)]="_alumnoModel.idProfesionPadre">
                      <mat-option *ngFor="let profesion of JsonOutgetlistaProfesionesPadre" [value]="profesion.idProfesion">
                        {{ profesion.descripcionProfesion }}
                      </mat-option>
                    </mat-select>
                    <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombres de Madre" name="nombreMadre" id="nombreMadre" [formControl]="nombreMadre"
                      ngControl="nombreMadre" [(ngModel)]="_alumnoModel.nombreMadre">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <mat-select placeholder="Profesion Madre" name="idProfesionPadre" id="idProfesionMadre"
                      [formControl]="idProfesionMadre" ngControl="idProfesionMadre" [(ngModel)]="_alumnoModel.idProfesionMadre">
                      <mat-option *ngFor="let profesion of JsonOutgetlistaProfesionesMadre" [value]="profesion.idProfesion">
                        {{ profesion.descripcionProfesion }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>

              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Trabajo de Padre" name="trabajoPadre" id="trabajoPadre" [formControl]="trabajoPadre"
                      ngControl="trabajoPadre" [(ngModel)]="_alumnoModel.trabajoPadre">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput #postalCode maxlength="8" placeholder="Telefono Padre" type="number" name="telefonoTrabajoPadre"
                      id="telefonoTrabajoPadre" [formControl]="telefonoTrabajoPadre" ngControl="telefonoTrabajoPadre"
                      [(ngModel)]="_alumnoModel.telefonoTrabajoPadre">
                    <!-- <mat-hint align="end">{{postalCode.value.length}} / 8</mat-hint> -->
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Trabajo de Madre" name="trabajoMadre" id="trabajoMadre" [formControl]="trabajoMadre"
                      ngControl="trabajoMadre" [(ngModel)]="_alumnoModel.trabajoMadre">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput #postalCode maxlength="8" placeholder="Telefono Madre" type="number" name="telefonoTrabajoMadre"
                      id="telefonoTrabajoMadre" [formControl]="telefonoTrabajoMadre" ngControl="telefonoTrabajoMadre"
                      [(ngModel)]="_alumnoModel.telefonoTrabajoMadre">
                    <!-- <mat-hint align="end">{{postalCode.value.length}} / 8</mat-hint> -->
                  </mat-form-field>
                </td>
              </tr>
            </table>
            <br>
            <mat-divider></mat-divider>

            <!-- Datos de Encargado -->
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombres de Encargado" name="nameEncargado" id="nameEncargado"
                      [formControl]="nameEncargado" ngControl="nombreEncargado" [(ngModel)]="_alumnoModel.nombreEncargado">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Telefono Encargado" name="telefonoEncargado" id="telefonoEncargado"
                      [formControl]="telEncargado" ngControl="telefonoEncargado" [(ngModel)]="_alumnoModel.telefonoEncargado">
                  </mat-form-field>
                  <!-- <mat-hint align="end">{{telEncargado.value.length}} / 8</mat-hint> -->
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombres de Emergencia" name="nameEmergencia" id="nameEmergencia"
                      [formControl]="nameEmergencia" ngControl="nombreEmergencia" [(ngModel)]="_alumnoModel.nombreEmergencia">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput maxlength="8" placeholder="Telefono Emergencia" type="number" name="telEmergencia"
                      id="telEmergencia" [formControl]="telEmergencia" ngControl="telefonoEmergencia" [(ngModel)]="_alumnoModel.telefonoEmergencia">
                    <!-- <mat-hint align="end">{{telEmergencia.value.length}} / 8</mat-hint> -->
                  </mat-form-field>
                </td>
              </tr>
            </table>

            <br>

            <table>
              <tr>
                <td>
                  <button mat-raised-button matStepperPrevious color="accent">Anterior</button>
                </td>
                <td>
                  <button mat-raised-button matStepperNext color="primary">Siguiente</button>
                </td>
              </tr>
            </table>

          </form>
        </mat-step>

        <!-- Datos Complementarios -->
        <mat-step [stepControl]="thirdFormGroup">
          <ng-template matStepLabel>Complemetarios</ng-template>
          Datos Complementarios de la Ficha del Alumno.
          <br><br>
          <div>
            <!-- Datos Complemetarios -->
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Medio Conoce ACH" [formControl]="medioConoceAch" [errorStateMatcher]="matcher"
                      name="medioConoceAch" id="medioConoceAch" ngControl="medioConoceAch" [(ngModel)]="_alumnoModel.medioConoceAch">
                      <mat-option *ngFor="let medioConoceAchJson of JsonOutgetlistaMediosACHAll" [value]="medioConoceAchJson.descripcionMedioConoceAch">
                        {{ medioConoceAchJson.descripcionMedioConoceAch }}
                      </mat-option>
                    </mat-select>
                    <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput maxlength="250" placeholder="Problemas de Salud" name="probleSalud" id="probleSalud"
                      [formControl]="probleSalud" ngControl="problemasSalud" [(ngModel)]="_alumnoModel.problemasSalud">
                    <!-- <mat-hint align="end">{{problemasSalud.value.length}} / 250</mat-hint> -->
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput #refer maxlength="250" placeholder="Referencia" name="referenciaAl" id="referenciaAl"
                      [formControl]="referenciaAl" ngControl="referencia" [(ngModel)]="_alumnoModel.referencia">
                    <!-- <mat-hint align="end">{{referencia.value.length}} / 250</mat-hint> -->
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Tipo de Beca" [formControl]="tipoBeca" [errorStateMatcher]="matcher"
                      ngControl="idTipoBeca" [(ngModel)]="_alumnoModel.idTipoBeca">
                      <mat-option *ngFor="let tipoBeca of JsonOutgetlistaTipoBeca" [value]="tipoBeca.idTipoBeca">
                        {{ tipoBeca.descTipoBeca }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
            </table>

            <table>
              <tr>
                <td>
                  <button mat-raised-button matStepperPrevious color="accent">Anterior</button>
                </td>
                <td>
                  <button mat-raised-button (click)="stepper.reset()" color="warn">Limpiar Ficha</button>
                </td>
                <td>
                  <button mat-raised-button (click)="nuevoAlumno()" color="primary">Guardar Ficha</button>
                </td>
              </tr>
            </table>

            <!-- <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button> -->
            
            <app-invoicealumno></app-invoicealumno>
            <button (click)='enviarMensaje()'Saludar hijo>Boton</button>

          </div>
        </mat-step>
      </mat-horizontal-stepper>

    </div>
  </div>
</div>