<div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexFil fxFill class="components-container-gt-xs ">

  <div fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFil fxFill fxLayoutGap="20px">

    <div fxFlex="100" fxLayout="column" class="mat-elevation-z2 contact-list-container">
      <!-- <mat-toolbar class="icon-header">
        <h1 class="mat-headline center-align">Evaluación de Cocina Práctica</h1>
      </mat-toolbar> -->

      <div class="loader" *ngIf="showData == true">
        <!-- Loader de la Tabla -->
        Cargando... <br><br>
        <mat-spinner></mat-spinner>
      </div>

      <!-- Datos Complemetarios -->
      <br>
      <mat-card>
        <mat-toolbar class="icon-header">
          <strong>
            <h1 class="mat-headline center-align" style="margin-left: 10px">Evaluación de Cocina Práctica | </h1>
          </strong>
          <strong>
            <h1 class="mat-headline left-align" style="margin-left: 10px">Chef Evaluador: </h1>
          </strong>
          <h2 class="mat-headline center-align" style="margin-left: 10px">{{ chefEvaluador }}</h2>
        </mat-toolbar>

        <table class="example-full-width" cellspacing="0">
          <tr>
            <!-- <td>Nombre de Plato</td> -->
            <td style=" width:70%">
              <mat-form-field class="example-full-width">
                <input type="text" matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let state of filteredStates | async" [value]="state.name" (click)="onEnter($event)" >
                    <img class="example-option-img" aria-hidden [src]="state.flag" height="25">
                    <span>{{state.name}}</span> |
                    <small>Population: {{state.population}}</small>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>

            <!-- <td>Chef Evaluador</td> -->
            <td>
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Fecha de Evaluación" [formControl]="fechaEvaluacion"
                  [errorStateMatcher]="matcher" ngControl="fechaEvaluacion" [(ngModel)]="_evaluacionesModel.fechaEvaluacion"
                  required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td colspan="2">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                    <img class="example-option-img" aria-hidden [src]="state.flag" height="25">
                    <span>{{state.name}}</span> |
                    <small>Population: {{state.population}}</small>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </mat-card>
      <br>

      <!-- Tarjeta de las Tablas de Evaluacion -->
      <mat-card>
        <table class="mat-table">
          <!-- Datos de Higiene -->
          <thead>
            <th style=" width:20%">Higiene</th>
            <th style=" width:85%">Observaciones</th>
            <th style=" width:1%">Nota</th>
          </thead>
          <tr>
            <td>
              <strong> Higiene General </strong>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Higiene General" type="text" maxlength="150" value="" class="example-right-align">
                <mat-hint align="end"></mat-hint>
              </mat-form-field>
            </td>
            <td style=" width:35%">
              <mat-form-field>
                <input matInput placeholder="Nota" type="number" maxlength="3" value="0">
                <!-- <span matPrefix>L&nbsp;</span> -->
                <span matSuffix>%</span>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <strong> Uniforme Correcto </strong>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Correcto Uniforme" type="text" maxlength="150" value="" class="example-right-align">
                <mat-hint align="end"></mat-hint>
              </mat-form-field>
            </td>
            <td style=" width:35%">
              <mat-form-field>
                <input matInput placeholder="Nota" type="number" maxlength="3" value="0" class="example-right-align">
                <!-- <span matPrefix>L&nbsp;</span> -->
                <span matSuffix>%</span>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </mat-card>
      <br>
      <!-- <hr> -->

      <mat-card>
        <table class="mat-table">
          <!-- Datos de Organización -->
          <thead>
            <th style=" width:20%">Organización</th>
            <th style=" width:85%">Observaciones</th>
            <th>Nota</th>
          </thead>
          <tr>
            <td>
              <strong> Hora de Entrega </strong>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Hora de Entrega" type="text" maxlength="150" value="" class="example-right-align">
                <mat-hint align="end"></mat-hint>
              </mat-form-field>
            </td>
            <td style=" width:35%">
              <mat-form-field>
                <input matInput placeholder="Nota" type="number" maxlength="3" value="0">
                <!-- <span matPrefix>L&nbsp;</span> -->
                <span matSuffix>%</span>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <strong> Flujo de Trabajo </strong>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Flujo de Trabajo" type="text" maxlength="150" value="" class="example-right-align">
                <mat-hint align="end"></mat-hint>
              </mat-form-field>
            </td>
            <td style=" width:35%">
              <mat-form-field>
                <input matInput placeholder="Nota" type="number" maxlength="3" value="0" class="example-right-align">
                <!-- <span matPrefix>L&nbsp;</span> -->
                <span matSuffix>%</span>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </mat-card>
      <br>
      <!-- <hr> -->

      <mat-card>
        <table>
          <!-- Datos de Preparación -->
          <thead>
            <th style=" width:20%">Preparación</th>
            <th style=" width:85%">Observaciones</th>
            <th>Nota</th>
          </thead>
          <tr>
            <td>
              <strong> Sabor </strong>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Sabor" type="text" maxlength="150" value="" class="example-right-align">
                <mat-hint align="end"></mat-hint>
              </mat-form-field>
            </td>
            <td style=" width:35%">
              <mat-form-field>
                <input matInput placeholder="Nota" type="number" maxlength="3" value="0">
                <!-- <span matPrefix>L&nbsp;</span> -->
                <span matSuffix>%</span>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <strong> Textura </strong>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Textura" type="text" maxlength="150" value="" class="example-right-align">
                <mat-hint align="end"></mat-hint>
              </mat-form-field>
            </td>
            <td style=" width:35%">
              <mat-form-field>
                <input matInput placeholder="Nota" type="number" maxlength="3" value="0" class="example-right-align">
                <!-- <span matPrefix>L&nbsp;</span> -->
                <span matSuffix>%</span>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </mat-card>
      <br>

      <mat-card>
        <table>
          <!-- Datos de Preparación -->
          <thead>
            <th style=" width:20%">Tecnica</th>
            <th style=" width:85%">Observaciones</th>
            <th>Nota</th>
          </thead>
          <tr>
            <td>
              <strong> Tecnica </strong>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Tecnica" type="text" maxlength="150" value="" class="example-right-align">
                <mat-hint align="end"></mat-hint>
              </mat-form-field>
            </td>
            <td style=" width:35%">
              <mat-form-field>
                <input matInput placeholder="Nota" type="number" maxlength="3" value="0">
                <!-- <span matPrefix>L&nbsp;</span> -->
                <span matSuffix>%</span>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </mat-card>
      <br>

      <mat-card>
        <table>
          <!-- Datos de Presentación -->
          <thead>
            <th style=" width:20%">Presentación</th>
            <th style=" width:85%">Observaciones</th>
            <th>Nota</th>
          </thead>
          <tr>
            <td>
              <strong> Limpieza </strong>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Limpieza" type="text" maxlength="150" value="" class="example-right-align">
                <mat-hint align="end"></mat-hint>
              </mat-form-field>
            </td>
            <td style=" width:35%">
              <mat-form-field>
                <input matInput placeholder="Nota" type="number" maxlength="3" value="0">
                <!-- <span matPrefix>L&nbsp;</span> -->
                <span matSuffix>%</span>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <strong> Armado </strong>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Armado" type="text" maxlength="150" value="" class="example-right-align">
                <mat-hint align="end"></mat-hint>
              </mat-form-field>
            </td>
            <td style=" width:35%">
              <mat-form-field>
                <input matInput placeholder="Nota" type="number" min="1" max="3" value="0" class="example-right-align">
                <!-- <span matPrefix>L&nbsp;</span> -->
                <span matSuffix>%</span>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <!-- Botones de la Ventana -->
        <div class="example-button-row">
          <button mat-raised-button color="primary">Guardar Cambios</button>
          <button mat-raised-button color="accent" (click)="limpiarForma()">Limpiar</button>
          <a mat-raised-button routerLink="../">Regresar</a>
        </div>

      </mat-card>
    </div>
  </div>
</div>