@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.example-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.example-container>* {
  width: 100%;
}

.example-card {
  width: 40%;
  margin-left: 30%;
  margin-top: 5%;
}

/* Por debajo de 700px */
@media screen and (max-width: 700px) {
  body {
    font-size: 12px;
  }
}

/* Por debajo de 400px */
@media screen and (max-width: 400px) {
  body {
    font-size: 10px;
  }
}
