<h2 mat-dialog-title><strong>Evaluacion Practica | Instructor: </strong> {{ nombreInstructor }} <strong>| Nota Final:
  </strong>{{ notaFinal }} %</h2>
<!-- <mat-divider></mat-divider> -->
<hr>
<mat-dialog-content class="mat-typography">
        <div>

          <table class="table" id="content" #content>
            <!-- <img src='../../../../../assets/images/avatars/chef-antonio-600.png' width="120" height="100" alt="ACACULH"> -->
            <tr>
              <td>
                <h2> <strong>Codigo:</strong> {{ data.codAlumno }} </h2>
              </td>
            </tr>
            <tr>
              <td>
                <h2> <strong>Nombres:</strong> {{data.nombres}} </h2>
              </td>
              <td>
                <h2> <strong> Apellidos:</strong> {{data.apellidos}}</h2>
              </td>
            </tr>
            <tr>
              <td>
                <h2> <strong> Email:</strong> {{ data.email }} </h2>
              </td>
              <td>
                <h2><strong>Telefono :</strong> {{ data.telefono }} </h2>
              </td>
              <td>
                <h2><strong>Celular :</strong> {{ data.celular }} </h2>
              </td>
            </tr>
            <!-- </table> -->

            <tr>
              <td colspan="3">
                <hr>
              </td>
            </tr>

            <!-- Tabla de creterios a Evlaluar -->
            <!-- <table class="table"> -->
            <tr>
              <td>
                <h2> <strong> No:</strong> {{ codigoEvalPract }} </h2>
              </td>
              <td>
                <h2> <strong> Plato:</strong> {{ descripcionPlato }} </h2>
              </td>
              <td>
                <h2> <strong> Fecha:</strong> {{ fechaEvaluacion * 1000 | date }} </h2>
              </td>
            </tr>

            <tr>
              <td colspan="3">
                <hr>
              </td>
            </tr>

            <!-- Descripcion y Notas -->
            <tr>
              <td colspan="3" align="center" style="background: #195FCA; ">
                <h2> <strong> Higiene</strong></h2>
              </td>
            </tr>
            <tr>
              <td>
                <h2> <strong>General</strong> </h2>
              </td>
              <td>
                <h2> <strong> Observaciones:</strong> {{ higieneGeneralObs }} </h2>
              </td>
              <td>
                <h2> <strong> Nota:</strong> {{ higieneGeneralNota }} %</h2>
              </td>
            </tr>
            <tr>
              <td>
                <h2> <strong>Correcto Uniforme </strong></h2>
              </td>
              <td>
                <h2> <strong> Observaciones:</strong> {{ correctoUniformeObs }} </h2>
              </td>
              <td>
                <h2> <strong> Nota:</strong> {{ correctoUniformeNota }} %</h2>
              </td>
            </tr>

            <!-- Organizacion -->
            <tr>
              <td colspan="3" align="center" style="background: #195FCA; ">
                <h2> <strong> Organizacion</strong></h2>
              </td>
            </tr>
            <tr>
              <td>
                <h2> <strong>Hora de Entrega</strong> </h2>
              </td>
              <td>
                <h2> <strong> Observaciones:</strong> {{ horaEntregaObs }} </h2>
              </td>
              <td>
                <h2> <strong> Nota:</strong> {{ horaEntregaNota }} %</h2>
              </td>
            </tr>
            <tr>
              <td>
                <h2> <strong>Flujo de Trabajo </strong></h2>
              </td>
              <td>
                <h2> <strong> Observaciones:</strong> {{ correctoUniformeObs }} </h2>
              </td>
              <td>
                <h2> <strong> Nota:</strong> {{ correctoUniformeNota }} %</h2>
              </td>
            </tr>

            <!-- Preparacion -->
            <tr>
              <td colspan="3" align="center" style="background: #195FCA; ">
                <h2> <strong> Preparacion</strong></h2>
              </td>
            </tr>
            <tr>
              <td>
                <h2> <strong>Sabor</strong> </h2>
              </td>
              <td>
                <h2> <strong> Observaciones:</strong> {{ saborObs }} </h2>
              </td>
              <td>
                <h2> <strong> Nota:</strong> {{ saborNota }} %</h2>
              </td>
            </tr>
            <tr>
              <td>
                <h2> <strong>Textura </strong></h2>
              </td>
              <td>
                <h2> <strong> Observaciones:</strong> {{ texturaObs }} </h2>
              </td>
              <td>
                <h2> <strong> Nota:</strong> {{ texturaNota }} %</h2>
              </td>
            </tr>

            <!-- Tecnica -->
            <tr>
              <td colspan="3" align="center" style="background: #195FCA; ">
                <h2> <strong> Tecnica</strong></h2>
              </td>
            </tr>
            <tr>
              <td>
                <h2> <strong>Tecnica</strong> </h2>
              </td>
              <td>
                <h2> <strong> Observaciones:</strong> {{ tecnicaObs }} </h2>
              </td>
              <td>
                <h2> <strong> Nota:</strong> {{ tecnicaNota }} %</h2>
              </td>
            </tr>

            <!-- Presentacion -->
            <tr>
              <td colspan="3" align="center" style="background: #195FCA; ">
                <h2> <strong> Presentacion</strong></h2>
              </td>
            </tr>
            <tr>
              <td>
                <h2> <strong>Limpieza</strong> </h2>
              </td>
              <td>
                <h2> <strong> Observaciones:</strong> {{ limpiezaObs }} </h2>
              </td>
              <td>
                <h2> <strong> Nota:</strong> {{ limpiezaNota }} %</h2>
              </td>
            </tr>
            <tr>
              <td>
                <h2> <strong>Armado</strong></h2>
              </td>
              <td>
                <h2> <strong> Observaciones:</strong> {{ armadoObs }} </h2>
              </td>
              <td>
                <h2> <strong> Nota:</strong> {{ armadoNota }} %</h2>
              </td>
            </tr>
          </table>
        </div>
</mat-dialog-content>

<hr>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
  <button mat-raised-button color="primary" (click)="download()">Imprimir</button>
  <button mat-raised-button color="primary" (click)="captureScreen()">Imprimir 2</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>