<!-- <mat-toolbar color="primary">
  Angular Material Dialog Demo
</mat-toolbar> -->

<div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexFil fxFill class="components-container-gt-xs ">

  <div fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFil fxFill fxLayoutGap="20px">

    <div fxFlex="75" fxLayout="column" class="mat-elevation-z2 contact-list-container">

      <div fxFlex="10" fxLayoutAlign="start center" fxLayout="row">

        <h3 class="mat-headline">Consulta de Platos </h3>
      </div>

      <mat-divider></mat-divider>

      <div class="loader" *ngIf="showData == true">
        <!-- Loader de la Tabla -->
        Cargando... <br><br>
        <mat-spinner></mat-spinner>
      </div>

      <div fxFlex="10" fxLayout="row" fxLayoutAlign="space-between stretch">
        <!-- <div fxFlex="10" fxLayoutGap="10px" fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center start"> -->

        <div fxflex="50" class="full">
          <mat-form-field class="full">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Plato">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>

      </div>

      <div fxFlex="70" fxLayout="column" fxLayoutAlign="space-between stretch" class="contact-list-container">
        <div class="example-container mat-elevation-z8">

          <mat-table [dataSource]="dataSource" matSort>
            <!-- ID Column -->
            <ng-container matColumnDef="idPlato">
              <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClass'">
                <h3>ID</h3>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" [ngClass]="'customWidthClass'"> {{row.idPlato}} </mat-cell>
            </ng-container>

            <!-- Codigo Column -->
            <ng-container matColumnDef="codPlato">
              <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClass3'">
                <h3>Codigo</h3>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" [ngClass]="'customWidthClass3'"> {{row.codPlato}} </mat-cell>
            </ng-container>

            <!-- Nombres Column -->
            <ng-container matColumnDef="nombrePlato">
              <mat-header-cell *matHeaderCellDef mat-sort-header >
                <h3>Nombre</h3>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" >{{row.nombrePlato}}</mat-cell>
            </ng-container>

            <!-- Descripcion Column -->
            <ng-container matColumnDef="descripcionPlato">
              <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClass4'">
                <h3>Descripcion</h3>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" [ngClass]="'customWidthClass4'"> {{row.descripcionPlato}} </mat-cell>
            </ng-container>

            <!-- Tipo Plato Column -->
            <ng-container matColumnDef="descTipoPlato">
              <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClass5'">
                <h3>Tipo Plato</h3>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" [ngClass]="'customWidthClass5'"> {{row.idTipoPlato.descripcionTipoPlato}}
              </mat-cell>
            </ng-container>

            <!-- Calificacion Column -->
            <ng-container matColumnDef="calificacionPlato">
              <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClass'">
                <mat-icon class="space">star</mat-icon>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" [ngClass]="'customWidthClass'"> {{row.estrellas}} </mat-cell>
            </ng-container>

            <!-- Accion Column -->
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClass2'">
                <h3>Accion</h3>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" [ngClass]="'customWidthClass2'">
                <button mat-icon-button matTooltip="Editar Plato" (click)="sendDataForm(row.idPlato, row.codPlato, row.nombrePlato, row.descripcionPlato, row.estrellas, row.idTipoPlato.idTipoPlato)">
                  <mat-icon>compare_arrows</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>

        <mat-divider></mat-divider>

      </div>

    </div>

    <!-- Seccion de Ingresar el Pago segun el Alumno seleccionado -->
    <div fxFlex="25" fxLayout="column" class="mat-elevation-z2 contact-add">

      <div fxFlex="10" fxLayout="row" fxLayoutAlign="space-between center">

        <h3 class="mat-headline" fxFlex="80">Modifica el Plato</h3>
        <div fxLayout="row" fxLayoutAlign="end center" fxFlex="10">
          <button mat-icon-button>
            <mat-icon>restaurant</mat-icon>
          </button>

        </div>

      </div>
      <mat-divider></mat-divider>
      <br>

      <div fxFlex="10" fxLayoutGap="10px" fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center start">
        <div fxFlex="100" fxLayout.lt-lg="100">
          <mat-form-field>
            <input type="text" matInput placeholder="Nombre" [formControl]="nombrePlato" [errorStateMatcher]="matcher"
              ngControl="nombrePlato" [(ngModel)]="_consultaPlatosModel.nombrePlato" required>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="10" fxLayoutGap="10px" fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center start">
        <div fxFlex="100" fxLayout.lt-lg="100">
          <mat-form-field>
            <input type="text" matInput placeholder="Codigo" value="{{ codPlatoSend }}" disabled>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="10" fxLayoutGap="10px" fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center start">
        <div fxFlex="100" fxLayout.lt-lg="100">
          <mat-form-field>
            <textarea matInput #message maxlength="250" [formControl]="descripcionPlato" placeholder="Descripcion Plato"
              name="descripcionPlato" id="descripcionPlato" ngControl="descripcionPlato" [(ngModel)]="_consultaPlatosModel.descripcionPlato"
              autocomplete="false"></textarea>
          </mat-form-field>
        </div>
      </div>
      <br>

      <div fxFlex="10" fxLayoutGap="10px" fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center start">
        <div fxFlex="100" fxLayout.lt-lg="100">
          <mat-form-field>
            <mat-select placeholder="Tipo Plato" [formControl]="idTipoPlato" [errorStateMatcher]="matcher" ngControl="idTipoPlato"
              [(ngModel)]="_consultaPlatosModel.idTipoPlato" required>
              <mat-option *ngFor="let tipoPago of JsonOutgetlistaTipoPlatos" [value]="tipoPago.idTipoPlato">
                {{ tipoPago.descripcionTipoPlato }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="10" fxLayoutGap="10px" fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center start">
        <div fxFlex="100" fxLayout.lt-lg="100">
          <mat-form-field>
            <mat-select placeholder="Calificacion de Plato" [(value)]="selected" required>
              <mat-option value="1">1 Estrella</mat-option>
              <mat-option value="2">2 Estrellas</mat-option>
              <mat-option value="3">3 Estrellas</mat-option>
              <mat-option value="4">4 Estrellas</mat-option>
              <mat-option value="5">5 Estrellas</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <p>You selected: {{selected}}</p> -->
        </div>
      </div>

      <br>
      <mat-divider></mat-divider>

      <div class="loader2" *ngIf="showData2 == true">
        <!-- Loader de la Tabla -->
        Cargando... <br><br>
        <mat-spinner></mat-spinner>
      </div>

      <div fxFlex fxLayout="column" fxLayoutAlign="end stretch">
        <div fxLayout="row" fxLayoutAlign="space-between stretch">
          <button mat-raised-button (click)="initForm()">CANCEL</button>
          <button mat-raised-button color="primary" (click)="nuevoPagoAlumno()">SAVE</button>
        </div>
      </div>
    </div>
  </div>
</div>