.example-card {
    // max-width: 400px;
  }
  
  .example-header-image {
    // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-image: url('../../../../assets/logos/logo-academia-culinaria-500.png');
    background-size: cover;
  }

  .example-full-width {
		width: 100%;
	  }	