<h2 mat-dialog-title><strong>Evaluacion Cortes de Precision | Instructor: </strong> {{ nombreInstructor }} <strong>| Nota Final:
  </strong>{{ notaFinal }} %</h2>
<!-- <mat-divider></mat-divider> -->
<hr>
<mat-dialog-content class="mat-typography">
  <div>

    <table class="table" id="content" #content>
      <!-- <img src='../../../../../assets/images/avatars/chef-antonio-600.png' width="120" height="100" alt="ACACULH"> -->
      <tr>
        <td>
          <h2> <strong>Codigo:</strong> {{ data.codAlumno }} </h2>
        </td>
      </tr>
      <tr>
        <td>
          <h2> <strong>Nombres:</strong> {{data.nombres}} </h2>
        </td>
        <td>
          <h2> <strong> Apellidos:</strong> {{data.apellidos}}</h2>
        </td>
      </tr>
      <tr>
        <td>
          <h2> <strong> Email:</strong> {{ data.email }} </h2>
        </td>
        <td>
          <h2><strong>Telefono :</strong> {{ data.telefono }} </h2>
        </td>
        <td>
          <h2><strong>Celular :</strong> {{ data.celular }} </h2>
        </td>
      </tr>
      <!-- </table> -->

      <tr>
        <td colspan="3">
          <hr>
        </td>
      </tr>

      <!-- Tabla de creterios a Evlaluar -->
      <!-- <table class="table"> -->
      <tr>
        <td>
          <h2> <strong> No:</strong> {{ codEvaluacionCortePrecision }} </h2>
        </td>
        <td>
          <h2> <strong> Plato:</strong> {{ descripcionPlato }} </h2>
        </td>
        <td>
          <h2> <strong> Fecha:</strong> {{ fechaEvaluacion * 1000 | date }} </h2>
        </td>
      </tr>

      <tr>
        <td colspan="3">
          <hr>
        </td>
      </tr>

      <!-- Descripcion y Notas -->
      <tr>
        <td colspan="3" align="center" style="background: #195FCA; ">
          <h2> <strong> Higiene</strong></h2>
        </td>
      </tr>
      <tr>
        <td>
          <h2> <strong>General</strong> </h2>
        </td>
        <td>
          <h2> <strong> Observaciones:</strong> {{ higieneGeneralObs }} </h2>
        </td>
        <td>
          <h2> <strong> Nota:</strong> {{ higieneGeneralNota }} %</h2>
        </td>
      </tr>
      <tr>
        <td>
          <h2> <strong>Limpieza</strong> </h2>
        </td>
        <td>
          <h2> <strong> Observaciones:</strong> {{ limpiezaObs }} </h2>
        </td>
        <td>
          <h2> <strong> Nota:</strong> {{ limpiezaNota }} %</h2>
        </td>
      </tr>

      <!-- Organizacion -->
      <tr>
        <td colspan="3" align="center" style="background: #195FCA; ">
          <h2> <strong> Uniforme</strong></h2>
        </td>
      </tr>
      <tr>
        <td>
          <h2> <strong>Uniforme Completo </strong></h2>
        </td>
        <td>
          <h2> <strong> Observaciones:</strong> {{ uniformeCompletoObs }} </h2>
        </td>
        <td>
          <h2> <strong> Nota:</strong> {{ uniformeCompletoNota }} %</h2>
        </td>
      </tr>

      <!-- Preparacion -->
      <tr>
        <td colspan="3" align="center" style="background: #195FCA; ">
          <h2> <strong> Uso del Cuchillo</strong></h2>
        </td>
      </tr>
      <tr>
        <td>
          <h2> <strong>Filo del Cuchillo</strong> </h2>
        </td>
        <td>
          <h2> <strong> Observaciones:</strong> {{ filoCuchilloObs }} </h2>
        </td>
        <td>
          <h2> <strong> Nota:</strong> {{ filoCuchilloNota }} %</h2>
        </td>
      </tr>
      <tr>
        <td>
          <h2> <strong>Tecnica </strong></h2>
        </td>
        <td>
          <h2> <strong> Observaciones:</strong> {{ tecnicaCuchilloObs }} </h2>
        </td>
        <td>
          <h2> <strong> Nota:</strong> {{ tecnicaCuchilloNota }} %</h2>
        </td>
      </tr>

      <!-- Tecnica -->
      <tr>
        <td colspan="3" align="center" style="background: #195FCA; ">
          <h2> <strong> Precision</strong></h2>
        </td>
      </tr>
      <tr>
        <td>
          <h2> <strong>Medidas de Corte</strong> </h2>
        </td>
        <td>
          <h2> <strong> Observaciones:</strong> {{ medidasCortesObs }} </h2>
        </td>
        <td>
          <h2> <strong> Nota:</strong> {{ medidasCortesNota }} %</h2>
        </td>
      </tr>

      <!-- Presentacion -->
      <tr>
        <td colspan="3" align="center" style="background: #195FCA; ">
          <h2> <strong> Cantidad</strong></h2>
        </td>
      </tr>
      <tr>
        <td>
          <h2> <strong>Peso de los Cortes</strong> </h2>
        </td>
        <td>
          <h2> <strong> Observaciones:</strong> {{ pesoCorteObs }} </h2>
        </td>
        <td>
          <h2> <strong> Nota:</strong> {{ pesoCorteNota }} %</h2>
        </td>
      </tr>
    </table>
  </div>
  <!-- </div> -->
  <!-- </div> -->
  <!-- </div> -->
</mat-dialog-content>

<hr>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
  <button mat-raised-button color="primary" (click)="download()">Imprimir</button>
  <button mat-raised-button color="primary" (click)="captureScreen()">Imprimir 2</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>