<div fxLayout="column">

  <div fxLayout="column" class="service-card-content">

    <div fxLayout="row" class="service-card-container" fxLayout.lt-md="column" fxLayoutGap="20px">

      <div fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex.gt-sm="32"
        class="mat-elevation-z4 service-card ">
        <a [routerLink]="[ 'evaluacion-cocina-practica']" href="/#"> <img src="/assets/pages/covered-food-tray-on-a-hand-of-hotel-room-service.png" fxFlex> </a>
        <h3 class="mat-title" fxFlex>Evaluación</h3>
        <p class="mat-body-2" fxFlex>Cocina Práctica</p>
      </div>


      <div fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex.gt-sm="32"
        class="mat-elevation-z4 service-card ">
        <a [routerLink]="['evaluacion-cortes-precision']"> <img src="/assets/pages/knife.png" fxFlex></a>
        <h3 class="mat-title" fxFlex>Evaluación</h3>
        <p class="mat-body-2" fxFlex>Cortes de Precisión</p>
      </div>

      <div fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex.gt-sm="32"
        class="mat-elevation-z4 service-card ">
        <a [routerLink]="[ 'evaluacion-platos' ]"> <img src="/assets/pages/restaurant.png" fxFlex></a>
        <h3 class="mat-title" fxFlex>Evaluación</h3>
        <p class="mat-body-2" fxFlex>Platos</p>
      </div>
    </div>


    <div fxLayout="row" class="service-card-container" fxLayout.lt-md="column" fxLayoutGap="20px">

      <div fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex.gt-sm="32"
        class="mat-elevation-z4 service-card ">
        <a [routerLink]="[ 'evaluacion-quesos' ]"> <img src="/assets/pages/cheese-with-little-cutted-triangular-piece.png" fxFlex></a>
        <h3 class="mat-title" fxFlex>Evaluación</h3>
        <p class="mat-body-2" fxFlex>Quesos</p>
      </div>


      <div fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex.gt-sm="32"
        class="mat-elevation-z4 service-card ">
        <img src="/assets/pages/mobile.png" fxFlex>
        <h3 class="mat-title" fxFlex>Evaluación</h3>
        <p class="mat-body-2" fxFlex>Acumulativos</p>
      </div>

      <div fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex.gt-sm="32"
        class="mat-elevation-z4 service-card ">
        <img src="/assets/pages/prototype.png" fxFlex>
        <h3 class="mat-title" fxFlex>Evaluación</h3>
        <p class="mat-body-2" fxFlex>Otra Evaluación</p>
      </div>

    </div>

  </div>
</div>